.button {
  font-family: $font-family;
  font-size: 12px;
  cursor: pointer;
  color: #222222;
  padding: 7px 11px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  line-height: 1;

  &:hover {
    opacity: .8;
  }

  &:focus {
    outline: 0;
    background-image: linear-gradient(to bottom, #e6e6e6, #ffffff);
  }

  &--success {
    color: #ffffff;
    border: 1px solid #a1b900;
    background-image: linear-gradient(to bottom, #cee356, #a1b900);

    &:focus {
      background-image: linear-gradient(to bottom, #a1b900, #cee356);
    }
  }

  .buttons &:not(:first-child) {
    margin-left: 24px;
  }
}